﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="advanced, App_Web_-jfpmlsa" title="Untitled Page" %>

<%@ Register src="share.ascx" tagname="share" tagprefix="uc1" %>

<%-- Add content controls here --%><asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <center class="view"  ><h1 align="center" style="color: #7EA31C" >
       Advanced Projects
       
</h1>
<div class="right"><uc1:share ID="share1" runat="server" /></div>
    </center>











</asp:Content>
<asp:Content ID="Content3" runat="server" 
    contentplaceholderid="ContentPlaceHolder2">
    <br /> 
     <div class="column">
   <ul>
           
           
                <li>
         <a href="http://www.projecttopics.info/projects/Chat%20Server.php" >
                    Chat Server   </a>   
<br />The package &quot;CHAT SERVER&quot; using JAVA and MS ACCESS aims at developing a new chat server that 
                    could be easy for users and which could teach a new user how to involve in 
                    fluent chat and get well equipped with Chat server.The main goal of our package 
                    is communication. <br /> <br /> <br /></li>
        
        
       
        <li>
       <a href="http://www.projecttopics.info/projects/Appliances%20security%20controller%20using%20power%20line.php" >
            Appliances security controller using power line   </a>    
    <br />is a useful device to control various loads, including variable load using power 
            line as the medium. 
    <br /> <br /> <br /> </li> <li>
      
      
       <a href="http://www.projecttopics.info/projects/Microcontroller%20Based%20Cellular%20Voting%20Machine.php" >
                    Microcontroller Based Cellular Voting Machine    </a>   
    <br />
                    In this modern world people are forced to use electronic devices in their daily 
                    life. Now day's electronic voting machines are used for election. Here we 
                    introduced a cellular voting machine based on micro controller. <br /> <br /> <br />  </li>
 
     
<li>

       <a href="http://www.projecttopics.info/projects/Energy%20Consumption%20Indicators.php" >
       Energy Consumption Indicators    </a>   
<br />TElectricity demands in hospitals are characterized by their need for high 
       quality, guaranteed supplies. The existence of captive electricity uses and the 
       size and regularity of the electrical and heat loads required by hospitals are 
       aspects that could well buttress the possibility of installing cogeneration 
       plants fired by natural gas (CHP).   <br /> <br /> <br /></li>
        
           <li>
         <a href="http://www.projecttopics.info/projects/Personal%20entertainment%20network%20Systems.php" >
               Personal entertainment network Systems (pens)  </a>   
<br />The project PERSONAL ENTERTAINMENT NETWORK SYSTEMS (PENS) briefed here provides a 
               solution to this problem and also provides some special features.  <br /> <br /> <br /></li>
        
        
         <li>
         <a href="http://www.projecttopics.info/projects/Electronic%20Mail%20Server.php" >
             Electronic Mail Server </a>   
<br />The 'electronic mail server' has been developed to simplify and enhance inter personnel 
             communication in an intra-organizational setup. This follows a client-server 
             approach where the website works on the server and the user form the client. The 
             client requests the server for services and the server responds by transferring 
             required information to the user.The site is going to be operated by the 
             Internet users and administered by the organizational administrator who will be 
             server based. <br />
             
             </li>
             <br /><br /><br />
              <br /> www.id34s.co.cc © All Rights Reserved<br />
    
        
        
         
        
</ul>
   
                </div>
                
                
                <div class="column"><ul>
                
                
           <li>
         <a href="http://www.projecttopics.info/projects/Microcontroller%20-%20based%20electronic%20Locking%20system%20module.php" >
               Microcontroller - based electronic Locking system module  </a>   
<br /> The need for advanced security in Banks, Hospitals, Business centers and other High 
               security buildings has grown increasingly more challenging and demanding during 
               the last few years posing many unanswered questions before the lawmakers and 
               officials.  <br /> <br /> <br /></li>
        
                
                     <li>
    <a href="http://www.projecttopics.info/projects/Telephone%20Router.php" >
                         Telephone Router  </a>
    <br />
                         This is a microprocessor-based system capable of routing telephone calls to 
                         various parties by initializing given switches. 
      <br /> <br /> <br /> </li>
     
      

         <li>
        
         <a href="http://www.projecttopics.info/projects/Micro%20Controller%20based%20Security%20System%20using%20Sonar.php" >
             Micro Controller based Security System using Sonar </a>   
<br />This project is based on the principle of RADAR. This project has got a SONAR module 
             mounted on a stepper motor .  <br /> <br /> <br /></li>
       
                
         
         <li>
         <a href="http://www.projecttopics.info/projects/Micro%20Controller%20based%20Dissolving%20Process%20Controller.php" >
             Micro Controller based Dissolving Process Controller </a>   
<br />In our project 'MC Based Burner Automation' first we have to check and control the 
             starting condition, ie to ignite the burner.  <br /> <br /> <br /></li>
        
        
        
        
                
                
                   <li>
         <a href="http://www.projecttopics.info/projects/Online%20Examination.php" >
                       Online Examination  </a>   
<br />By virtue of today's socioeconomic environment and continuing advancements in information 
                       technologies, companies are offering more computer related services and becoming 
                       more sophisticated computers having high capacity of storage and fast method of 
                       retrieving real time information have become boon for corporate.Going on is an 
                       era of simplifying almost all complicated works using computers. Here, the 
                       external electrical/electronics device integration with computers has got a 
                       considerable importance. Here presents one of such projects Exam Online. <br /> <br /> <br /></li>
        
        
        
        
         
               <li>
      
       <a href="http://www.projecttopics.info/projects/Virtual%20Class%20Rooms.php" >
                   Virtual Class Rooms  </a>    
<br />VIRTUAL CLASS ROOM is a modern educational concept, which is purely virtual in nature. 
                   Virtual classroom makes uses of the JAVA Internet technologies such as 
                   serviettes, AFC and swim. JavaScript; socket programming, and JDBC with ORACLE 
                   as back end. The Virtual class room concept binds together the Educational 
                   experts and the Students all over the world, who are online, into a classroom, 
                   which is purely virtual in nature.  <br /> <br /> <br />  </li> 
              
                </ul>  
                </div>
                

</asp:Content>


<asp:Content ID="Content4" runat="server" 
    contentplaceholderid="ContentPlaceHolder3">

    <p class="text" align="center" style="font-size: medium">&nbsp;</p>

</asp:Content>



