﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="beginner, App_Web_-jfpmlsa" title="Beginner Projects" %>

<%@ Register src="share.ascx" tagname="share" tagprefix="uc1" %>

<asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">

    <center class="view"  ><h1 align="center" style="color: #7EA31C" >
        Beginner Projects</h1>
      <div class="right">  <uc1:share ID="share1" runat="server" /></div>

    </center>
   

</asp:Content>
<asp:Content ID="Content2" runat="server" 
    contentplaceholderid="ContentPlaceHolder2">
 
   
      
    
     <div class="column">
   <ul>
           
           
         <li>
        
         <a href="http://computerprojects.projectguidance.com/guidance/details/id/3717371751/title/ATTENDANCE%2BMANAGEMENT%2BSYSTEM" >
             ATTENDANCE MANAGEMENT SYSTEM</a>   
<br />Attendance management is the act of managing attendance or presence in a work setting 
             to minimize loss due to employee downtime. <br /> <br /> <br /></li>
        <li>
       <a href="http://www.iprojectideas.com/?cid=1&pid=6&topic=Make%20a%20simple%20game" >
            Make a simple game   </a>    
    <br />
            Games such as Minesweeper , solitaire etc. will be very handful for improvement 
            in our programming skills. These games can be developed using Java. 
    <br /> <br /> <br /> </li> <li>
      
      
       <a href="http://citeseerx.ist.psu.edu/viewdoc/download?doi=10.1.1.69.1103&rep=rep1&type=pdf" >
             Extraction of Text from Images   </a>   
    <br />
             One of the most difficult project but very useful. If you can make software 
             which can read text from images then it will be very useful to be used in robots 
             eyes or making a machine who can read books and newspaper for us.
      <a href="http://www.metacafe.com/fplayer/1054333/copy_extract_text_from_images.swf" class="right">
             sample video</a>  <br /> <br /> <br />  </li>
 
     <li>
      
       <a href="http://sourceforge.net/projects/oabs/" >
         Speech Enabled Airline Reservation System   </a>    
<br />
         We all know what exactly Airline Reservation System is, but if you can add 
         speech recognizance in this project , it will earn you good marks in your 
         practical exams.<br /> <br /> <br />  </li>
<li>

       <a href="http://electrofriends.com/projects/computer-programming/sudoku-solver-using-c/" >
        Sudoku Solver  </a>   
<br />You have seen it in the news papers, you have seen it in the magazines or in the 
       web sites, you might have sat hours &#8216;n hours to solve it. Yes, it is the king of 
       all number puzzles, it is &#8220;SUDOKU&#8221;. <br /> <br /> <br /></li>
        
           <li>
         <a href="http://www.engineeringproject.org/online-address-book-with-upto-date-information/" >
               Online address book with upto date information</a>   
<br />People usually changes email addresses and mobile number. Before changing numbers, they 
               will have given that number to many. After changing, when they try, the number 
               will not be correct and hence the call will not be connected. The project aims 
               to solve this problem by maintaining an online contact base. <br /> <br /> <br /></li>
        
        
        
           <li>
         <a href="http://computerprojects.projectguidance.com/guidance/details/id/6182303156/title/Library%2BManagement%2Busing%2BRFID" >
               Library Management using RFID  </a>   
<br /> When a student eneters to libraryFRIDreader reads the tag and chechs whether the student 
               is authorised or not... If the student is authorised studen is allowed to go 
               inside the library.. Also when the student leaves the library the reader again 
               checks the no of book taken by the student , also changs the status of the book, 
               that is whether it is renued, issued or returned etc.....  <br /> <br /> 
               </li>
        <br /><br /><br />
         www.id34s.co.cc © All Rights Reserved<br />
        
</ul></div>
   <div class="column">
               <ul>
                
                
                
                     <li>
    <a href="http://sourceforge.net/projects/hotelmanagemnt/" >
                         Hotel management Software </a>
    <br />
                         it is very easy if build using vb or vb.net 
      <br /> <br /> <br /> </li>
     
      
                
                
         
         <li>
         <a href="http://computerprojects.projectguidance.com/guidance/details/id/9218525587/title/online%2Brecruitment%2Bsystem%2528ORS%2529" >
             online recruitment system(ORS)</a>   
<br />Online Recruitment System (ORS) is a web based tool and reduces the time and cost. 
             Online recruitment can offer significant cost savings for employers and reduces 
             the time taken to fill vacancies. <br /> <br /> <br /></li>
        
        
        
                <li>
         <a href="http://computerprojects.projectguidance.com/guidance/details/id/6939640540/title/Super%2BMarket%2BMenegement%2BSystem%2B%2528SMMS%2529" >
                    Super Market Menegement System (SMMS)</a>   
<br />The basic working done by this application is to maintain stock as well as perform all daily/ 
                    timely transaction like (Sale, Order) processing in a smoother and automated 
                    way. The main feature of this application is going to be its adhoc report 
                    support, which enable management to view all the ins-outs of a super market as 
                    well as profit/losses of the organization. <br /> <br /> <br /></li>
        
        
        
                
                
                   <li>
         <a href="http://computerprojects.projectguidance.com/guidance/details/id/1346944289/title/firewalls" >
                       firewalls</a>   
<br />design a firewall for a company where this system has foll... features: 1)list of blocked sites 
                       (it should block people from accessing these sites) 2)list of accepted sites 
                       3)should monitor data packets coming in and out of the organisation <br /> <br /> <br /></li>
        
        
        
        
         <li>
         <a href="http://computerprojects.projectguidance.com/guidance/details/id/96188373/title/college%2Bmanagement%2Bsoftware" >
             college management software</a>   
<br />IT IS THE MANAGEMENT OF COLLEGE BY USING DREAMWEAVER.ie, colege has different 
             departments that different departments contain various faculties. Administrator 
             is the power of all the departments. <br /> <br /> <br /></li>
        
           <li>
         <a href="http://computerprojects.projectguidance.com/guidance/details/id/8481336898/title/University%2BAdmission%2BSystem" >
               University Admission System </a>   
<br />Basic objectives are to extend their reach to geographically scattered students, reducing 
               time in activities, centralized data handling and paperless admission with 
               reduced manpower.  <br /> <br /> <br /></li>
        
        
         
                
                
        <li>

       <a href="http://computerprojects.projectguidance.com/guidance/details/id/394844588/title/Game" >
            Bricks ball game </a>   
<br />a game which is arranged in the form of bricks and a circular ball. The ball is being 
            controlled by a player. The ball is colliding with a paddle which is on the 
            bottom of the screen and is being controlled by keyboard or mouse. On collision 
            with paddle the ball bounces in the upward direction and touches the bricks. As 
            ball touches the bricks, the bricks which will be touched will be disappear. In 
            this game there should be multi-player system.<br /> <br /> <br /></li>
        
              
                
              
                </ul>  
                </div>  
                
            

</asp:Content>

<%-- Add content controls here --%><asp:Content ID="Content3" runat="server" 
    contentplaceholderid="ContentPlaceHolder3">

    <p class="text" align="center" style="font-size: medium">&nbsp;</p>

</asp:Content>
