﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="comment, App_Web_-jfpmlsa" title="Untitled Page" %>

<%-- Add content controls here --%><asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    
    
    <div class="view">
<ul>
                <li><p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-variant: normal; color: #000000">
                        giant projects started with an idea</p> <br /></li>
          
              <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                       non-ridiculous ideas have success probabilities less than ridiculous ones</p><br /></li> 
           
           
       <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     be ridiculous be creative let your idea see the light</p><br /></li>
                     
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     Hi

am really excited. Very nicely done. This will be my first time. </p><br /></li>
                     
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     hi, i am interested in the open authentication project.. could u give me the details on it.. do u wish to authenticate users on dummy mode? Or something else?</p><br /></li>
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     I'm so glad you guys made it into GSoC, otherwise I may have never heard about SilverStripe! :) </p><br /></li>
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     That usability one looks like my cup of tea, and I technically still haven't graduated (2 years on...). I'm in. Google should check out how well Silicon Welly has done hosting our own summer of code this year, we are definitely ready to go large!
                     </p><br /></li>
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                    Hi,

This is a good project… Is it possible for me to get the project…

I\’m doing finay year IT now… i\’m in need of an innovative projects….

This seems to be something different…. If possibke i\’l do this itself… or else send some innovative topics to my mail

Thanking You,
                     </p><br /></li>
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                hi…
dis seems to be quite an interstin project..so m keen 2 pursue it as a minor-major project as a part of engineering cuuriculum. kindly send me d details regarding it…
thanks
                     </p><br /></li>
                     
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     The project sounds good . Could you mail me the details of this project please
                     </p><br /></li>
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     hi
this is sharma it ssome wat interesting topic u expalined i am final year student frm IT branch will u please forward full information regarding this project if u have already done. or atleast documentation of this
mail me
                     </p><br /></li>
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     hi,
i am an IT student in Uganda. Reading about this project got me very interested. If possible send me more details to my email.
                     </p><br /></li>
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     Hi,

I would like to assess the feasibility of this idea being converted into a viable business venture.

Please get in touch with me, so that we can proceed with developing a prototype and preparing a business plan for obtaining funding.

Thanks.
                     </p><br /></li>
                     
                     
                      <li>   <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     Hi!
this project idea sounds very interesting.
can u forward me a few,selective innovative ideas
more on my email address and guide me through my final year (I.T) project.
Also please send me the details of this one.

Best Regards,
                     </p><br /></li>
                     
                     
                     </ul>
                      
</div>
</asp:Content>

