﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="_Default, App_Web_-jfpmlsa" title="Untitled Page" %>

<%-- Add content controls here --%><asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
    <div id="blocks">
    <div class="inside">
        <div class="block1">
            <h3 style="font-size: 15px">
                Beginner projects</h3>
            <span style="font-size: 12px">Small projects for 3 persons or less with basic 
            knowledge. </span><a href="beginner.aspx">
            <img src="images/more.gif" alt="" width="70" height="17" /></a>
        </div>
        <div class="block2">
            <h3 style="font-size: 15px; height: 37px;">
                Intermediate projects</h3>
            <span style="font-size: 12px">Mediam projects for 4-6 good knowledged persons. </span><a href="intermediate.aspx">
            <img src="images/more.gif" alt="" width="70" height="17" /></a>
        </div>
        <div class="block3">
            <h3 style="font-size: 15px">
                Advanced projects </h3>
            <span style="font-size: 12px">Large project for more than 6&nbsp; profissional&nbsp; and 
            expert persons </span><a href="advanced.aspx">
            <img src="images/more.gif" alt="" width="70" height="17" /></a>
        </div>
    </div>
</div>
</asp:Content>
<asp:Content ID="Content2" runat="server" 
    contentplaceholderid="ContentPlaceHolder2">
    <div class="inside">
        <div class="column"><h3 style="font-weight: bold">
                Laest projects!</h3>
      
                    <br />
             <ul>
                <li>
                    <p>
                        <a id="thread_title_86296" href="beginner.aspx">
                        Attendance Managment System   </a></p><br />  </li>
                <li>
                    <p>
                       
                        <a href="p1.aspx">
                        <font>Network Monitoring System Communication</font></a></p><br />
                </li>
                <li>
                    <p>
                        <a id="thread_title_86297" 
                            href="p2.aspx">
                        Security system using IP camera </a></p><br />
                </li>
                
                
                
                
                <li>
                    <p>
                        <a id="A1" 
                            href="p3.aspx">
                        Micro Controller based Burner Automation </a></p><br />
                </li>
                
              
                
                <li>
                    <p>
                        <a id="A2" 
                            href="http://computerprojects.projectguidance.com/guidance/details/id/9342248907/title/IR%2BBased%2Bvideo%2Bstreaming%2Bon%2Bmobile%2Bphones">
                         IR Based video streaming on mobile phones  </a></p><br />
                </li>
               
               
               
               
               
                <li>
                    <p>
                        <a id="A3" 
                            href="http://www.projecttopics.info/projects/Hospital%20Administration%20System.php">
                         Hospital Administration System  </a></p><br />
                </li>
               
                <li>
                    <p>
                        <a id="A4" 
                            href="http://www.projecttopics.info/projects/Secure%20Instant%20Messengers.php">
                        Secure Instant Messengers </a></p><br />
                </li>
               
                <li>
                    <p>
                        <a id="A5" 
                            href="http://www.projecttopics.info/projects/Telephone%20Triggered%20Switches.php">
                        Telephone Triggered Switches </a></p><br />
                </li>
               
                <li>
                    <p>
                        <a id="A6" 
                            href="http://www.projecttopics.info/projects/Multidimensional%20Visualisation%20System.php">
                        Multidimensional Visualisation System </a></p><br />
                </li>
              
            </ul>
            
           <p class="right">
                <a href="beginner.aspx">
                <img src="images/more.gif" alt="" width="70" height="17" /></a>
                </p>
        </div>
        <div class="news_block">
            <h3 style="font-style: oblique; font-weight: bold">
                Latest Discussion</h3>
           <ul>
                <li>   <span>15-5-2010 </span> <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-variant: normal; color: #000000">
                        giant projects started with an idea</p></li>
          
              <li>   <span>16-5-2010  </span>  <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                       non-ridiculous ideas have success probabilities less than ridiculous ones</p></li> 
           
           
       <li>   <span>20-5-2010 </span> <p style="font-family: Arial, Helvetica, sans-serif; font-weight: normal; font-style: normal; font-variant: normal; color: #000000; word-spacing: normal; letter-spacing: normal;">
                     be ridiculous be creative let your idea see the light</p></li> 
           
         <li>  <p class="right"><br /><br />
                        <a href="comment.aspx">
                <img src="images/more.gif" alt="" width="70" height="17" /></a></p>
                </li> 
                </ul>
        </div>
    </div>
    
</asp:Content>




