﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="more, App_Web_-jfpmlsa" title="Untitled Page" %>

<%-- Add content controls here --%>

<asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">
   
   <div class="view"> <p  class="text">
        Being in the same room to collaborate on a project is no longer necessary thanks 
        to the many different applications that are available over the web. There are 
        free tools for online conferencing, collaborative writing and editing, file 
        sharing, private communication, and desktop sharing. Keep and Share 
        </p> <br /><p>
        <a href="http://www.keepandshare.com/">
         Keep and 
        Share</a><br />
         is a group file sharing system. Accounts are password-controlled and 
        secure enough to store sensitive information.
        <br /> 
        <a href="http://wridea.com/">
          Wridea</a><br />
         Wridea makes it easy to 
        collaborate and share ideas with colleagues, team members, and fellow learners. 
        This brainstorming tool organizes and categorizes ideas onto different pages, 
        provides unlimited storage, and allows users to comment on topics and ideas. 
         <br />
         <a href="http://wridea.com/">
           Writeboard</a><br />
        Whiteboard is free collaborative writing software. It can be used 
        to write, edit, track changes, and rollback to previous versions.
        
         <br />
         <a href="http://www.stixy.com/">
         Stixy  </a><br />
         Stixy 
        works like an online bulletin board or whiteboard. It offers a work space where 
        you can place content and collaborate with other people on the web. 
         <br />
         <a href="http://www.twiddla.com/">
         Twiddla </a><br />
        
        Twiddla works very well for online meetings or co-browsing. Groups can use it to 
        mark-up and comment on web pages, images, and other content.
         <br />
         <a href="http://www.spicebird.com/">
         Spicebird  </a><br />
         This 
        open source platform is an all-in-one suite of communication tools for people 
        who want to collaborate online. Features include email, instant messaging, and 
        an online calendar.
        <br />
         <a href="http://www.reviewbasics.com/Home.aspx?NoCache=8bde957d-5298-4878-93ef-ce30aa649d49">
           ReviewBasics </a><br />
          This free online service is great for people 
        who are collaborating and editing different types of content. ReviewBasics 
        allows users to share, annotate, and markup everything from images and videos to 
        documents.
        
        
        <br />
    </p>
    
    
    
    </div>


</asp:Content>
<asp:Content ID="Content2" runat="server" 
    contentplaceholderid="ContentPlaceHolder2">
    <p class="inside">
        <br />
    </p>
    <p>
    </p>



</asp:Content>

