﻿<%@ page language="C#" masterpagefile="~/MasterPage.master" autoeventwireup="true" inherits="p2, App_Web_-jfpmlsa" title="Untitled Page" %>

<%-- Add content controls here --%><asp:Content ID="Content1" runat="server" 
    contentplaceholderid="ContentPlaceHolder1">

    <h1 align="center" style="color: #7EA31C">
        Security system using IP camera</h1 >
   

</asp:Content>
<asp:Content ID="Content2" runat="server" 
    contentplaceholderid="ContentPlaceHolder2">

 <div class="view" ><p class=text>
        This Project does the recording of vedio images form an ip camera and transfer 
        it into a centralized computer system. The compressed video format can be stored 
        in computer and can use for checking security issues. To start with this project 
        you need to learn VB.net. Other languages can be used but VB.net is the easiest. 
        Then you must get an IP camera. The camera sends images as IP packets. The 
        camera itself will have an IP address. You can connect to that IP using TCP/IP 
        and read images from it directly. Once you have them you can compress them.. or 
        convert format store in HDD etc. Once you can capture the image the application 
        is your imagination You can reduce the frame rate of the video to about 1 frame 
        per second and then store it in the HDD. This is done in most of the security 
        systems today</p></div>

</asp:Content>

