﻿<%@ control language="C#" autoeventwireup="true" inherits="share, App_Web_vjmeiplp" %>
<!-- AddThis Button BEGIN -->
<a class="addthis_button" href="http://www.addthis.com/bookmark.php?v=250&amp;username=xa-4bf516e80d87ae65"><img src="images/addthis-lg.gif" width="125" height="20" alt="Bookmark and Share" style="border:0"/></a><script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#username=xa-4bf516e80d87ae65"></script>
<!-- AddThis Button END -->
