*{
margin:0px;
padding:0px;
}
img{border:0px;}
html{
width:100%;
height:100%;
}
body
{
width:100%
}
#header{
width:100%;
background-color:#20221B;
text-align:center;
}
.inside{
width:980px;
margin:0 auto;
overflow:hidden
}
.logo{
float:left;
margin:0 38px 0 41px;
}
.slogan{
font-family:Arial, Helvetica, sans-serif;
font-size:10px;
text-transform:uppercase;
color:#82837F;
line-height:30px;
border-left:1px solid #82837F;
padding:0 0 0 21px;
margin:40px 0 0 0;
float:left
}
.rss{
float:right;
margin:29px 52px 0 0
}
#menu{
background-image:url(images/menu_bg.gif);
background-position:top left;
background-repeat:repeat-x;
width:100%;
float:left;
height:40px;
}
#menu ul{
width:962px;
margin:0 auto;
padding:0 0 0 25px;
	height: 40px;
}
#menu li{
list-style-type:none;
display:inline;
}
.pic{
margin:0 auto;
 margin:-4px auto;
}
#blocks{

background-position:top left;
background-repeat:repeat-x;
height:176px;
padding:27px 0 0 77px
}
.block1{
background-image:url(images/block1.jpg);
background-position:top left;
background-repeat:no-repeat;
width:165px;
height:118px;
float:left;
padding:30px 0 0 130px;
}
.block2{
background-image:url('images/block2.jpg');
background-position:left top;
background-repeat:no-repeat;
width:165px;
height:118px;
float:left;
padding:30px 0 0 130px;
}
.block3{
background-image:url(images/block3.jpg);
background-position:top left ;
background-repeat:no-repeat;
width:165px;
height:118px;
float:left;
padding:30px 0 0 130px;
}
#blocks h3{
font-family:Tahoma;
font-size:14px;
color:#505542;
display:block;
width:184px;
}
#blocks span{
font-family:Arial, Helvetica, sans-serif;
font-size:11px;
color:#698224;
display:block;
padding:11px 0 12px 0
}
#main{
background-color:#F6F1F0;
padding:47px 0 50px 0;
border-bottom:1px solid #fff;
}
.view
{
	padding:0 90px 0 90px;
	text-align: justify 


	
	}
.column
{
	padding: 0 0 0 100px;
	width: 400px;
	margin-left:50px;
	font-family: Tahoma;
	font-size: 16px;
	color: #64584C;
	line-height: 17px;
	float: left;
}
.column h3{
background-image:url('images/bullet.gif');
background-position:left 2px;
background-repeat:no-repeat;
padding:3px 0 37px 28px;
font-family:Arial;
font-size:18px;
color:#64584C;
font-weight:normal;
	height: 2px;
	width: 371px;
}
.news_block h3{
background-image:url(images/bullet.gif);
background-position:left 2px;
background-repeat:no-repeat;
padding:0 0 37px 28px;
font-family:Arial;
font-size:18px;
color:#64584C;
font-weight:normal;
}
.text{
font-size:20px;
color:#000000;
line-height:20px;
padding-right:auto;
vertical-align:middle;
	top: 552px;
	left: 31px;
	padding-left: 0;
	padding-top: 22px;
	padding-bottom: 8px;
}
.right{
text-align:right;
padding:20px 20 0 0;
}
.right2{
width:430px;
float:left;
text-align:right;
padding:25px 0 0 0;
}
.news_block{
width:425px;
float:left;
font-family:Tahoma;
font-size:14px;
color:#64584C;
}
.news_block span{
display:block;
float:left;
color:#FF8400;
font-weight:bold;
text-align:right;
width:77px;
	height: 13px;
}
.news_block li{
list-style-type:none;
}
.news_block p{
display:block;
float:left;
width:310px;
padding:0 0 23px 8px;
}
#footer{
background-color:#E4DEDA;
width:100%;
height:105px;
font-family:Tahoma;
font-size:12px;
color:#64584C;
text-transform:uppercase;
text-align:right
}
#footer a{
color:#64584C;
text-decoration:none
}
#footer a:visited{text-decoration:none}
#footer a:hover{text-decoration:underline}
#footer p{
line-height:90px;
padding:0 48px 0 0
}
